<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CombatRadar.CombatRadar" android:versionCode="2" android:versionName="0.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="Combat Radar" android:icon="@drawable/Icon"></application>
</manifest>